<suite name="Home Page Westpac" parallel="tests" thread-count="2">
    <test name="Home Nagivation Tests">
        <classes>
            <class name="tests.HomePageNavigation" />

        </classes>
    </test>
    <test name="Corporate Nagivation Tests">
        <classes>
            <class name="tests.CorporatePageNavigation" />
        </classes>
    </test>
</suite>